workDir = "${projectDir}/../../work"

params {
    fastq_dir = "${projectDir}/../../data/fastq"
    ref       = "${projectDir}/../../data/reference/GRCh38.fa"
    outdir    = "${projectDir}/../../results"
    sample_id = "patient"
    threads   = 8
    reads     = "${params.fastq_dir}/*_R{1,2}.fastq.gz"
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
}

podman { enabled = false }
docker { enabled = false }
